<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div>
                <img src="<%= product.IMG_URL %>" alt="<%= product.TITLE %>">
            </div>
            <h2><%= product.PRICE %></h2>
            <p><%= product.DESCRIPTION %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>